@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('./_variables.scss');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.light {
  & .slider-banner {
    background-color: unset;
    overflow: hidden;
  }
  & nav {
    background-color: unset;
    & a {
      color: #8a8a8a;
    }
  }
}

.dark {
  & .slider-banner {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  & nav {
    background-color: #292c34;
    & a {
      color: #ffffff;
    }
  }
  h3 {
    color: #ffffff;
  }
}
