.card {
  margin: 0 2% !important;
}
@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
.word-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 24px;
  width: 648px;
  height: 200px;
  box-shadow: 0px 12px 16px 0px rgb(55 83 250 / 12%);
  border-radius: 24px;
  margin: 12px;
  flex-shrink: 0;
  position: relative;
  & .user-info {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: unset;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
    & .avatar {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 16px;
    }
    & .word-name {
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 0;
    }
  }
}
.dark {
  & p,
  & h4 {
    color: #fff;
  }
}
