.logo {
  background: -webkit-linear-gradient(315deg, #dc3545 25%, #0d6efd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  border: solid 1px #5857ff;
  background-color: #5857ff;
  background: #5857ff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  background-image: linear-gradient(to bottom, #5857ff, #5857ff);
  user-select: none;

  &-primary {
    font-size: 16px;
    height: 35px;
    padding: 0 18px;
    /* line-height: 20px; */
    background: #2778ff;
    border-color: #2778ff;
    display: flex;
    border-radius: 8px;
    border-width: 2px;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fff;
      color: #2778ff;
    }
  }

  &-secondary {
    font-size: 16px;
    height: 35px;
    padding: 0 18px;
    /* line-height: 20px; */
    background: #f54153;
    border-color: #f54153;
    display: flex;
    border-radius: 8px;
    border-width: 2px;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fff;
      color: #f54153;
    }
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.active {
  & a {
    color: #0d6efd !important;
  }
}

.nav-hover,
.active {
  position: relative;

  & .nav-link:before {
    background: currentColor;
    content: '';
    height: 1pt;
    position: absolute;
    top: 75%;
    transform: scaleX(0);
    transform-origin: 0 10%;
    transition: transform 0.3s;
    width: 80%;
  }

  & .nav-link:hover:before,
  & .nav-link:focus:before {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
}

$shooting-time: 3000ms;

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  // width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail $shooting-time ease-in-out infinite, shooting $shooting-time ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    // CodePen Error
    // @extend .shooting_star::before;

    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999)+0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 150px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(400px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}

.top-banner {
  &-wrapper {
    position: absolute;

    left: 10%;
    top: 50%;
    transform: translateY(-50%);

    & .button {
      height: 50px !important;
      margin-top: 20px;
      padding: 0px 100px !important;
      box-sizing: content-box;
    }
  }

  &-info {
    h3 {
      color: #141c50;
      font-weight: bold;
      line-height: 50px;
      white-space: pre-wrap;
      margin-top: 0;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      max-width: 480px;
    }
  }
}


#banner-index {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;

  & ul {
    display: flex;
    list-style: none;

    & li {
      font-size: 100px;
      font-weight: bolder;
      color: #f5f5f5;
      text-shadow: #fff 0.006em 0.006em 0.007em,
        #9c9c9c 1px 1px 1px,
        #9c9c9c 1px 2px 1px,
        #9c9c9c 1px 3px 1px,
        #9c9c9c 1px 4px 1px,
        #9c9c9c 1px 5px 1px,
        #9c9c9c 1px 6px 1px,
        #9c9c9c 1px 7px 1px,
        #9c9c9c 1px 8px 1px,
        #9c9c9c 1px 9px 1px,
        #9c9c9c 1px 10px 1px,
        #9c9c9c 1px 11px 1px,
        #9c9c9c 1px 12px 1px,
        rgba(16, 16, 16, 0.4) 1px 18px 6px,
        rgba(16, 16, 16, 0.4) 1px 22px 10px,
        rgba(16, 16, 16, 0.4) 1px 26px 35px,
        rgba(16, 16, 16, 0.4) 1px 30px 66px,
        #fff -0.5em -0.1em 100px;
      animation: anilogo 3.2s infinite ease-in-out;
      $colors: (1: #FF1818, 2: #DC3545, 3: #C73B58, 4:#9F467C, 5:#7B509C, 6:#6357B1, 7:#4A5DC6, 8:#3862D7);

      @each $i ,
      $color in $colors {
        &:nth-child(#{$i}) {
          color: $color;
          animation-delay: calc(.4s*$i);
        }
      }

    }
  }
}


@keyframes anilogo {

  0%,
  100% {
    margin-top: 0;
    text-shadow: #fff 0.006em 0.006em 0.007em,
      #9c9c9c 1px 1px 1px,
      #9c9c9c 1px 2px 1px,
      #9c9c9c 1px 3px 1px,
      #9c9c9c 1px 4px 1px,
      #9c9c9c 1px 5px 1px,
      #9c9c9c 1px 6px 1px,
      #9c9c9c 1px 7px 1px,
      #9c9c9c 1px 8px 1px,
      #9c9c9c 1px 9px 1px,
      #9c9c9c 1px 10px 1px,
      #9c9c9c 1px 11px 1px,
      #9c9c9c 1px 12px 1px,
      rgba(16, 16, 16, 0.4) 1px 18px 6px,
      rgba(16, 16, 16, 0.4) 1px 22px 10px,
      rgba(16, 16, 16, 0.4) 1px 26px 35px,
      rgba(16, 16, 16, 0.4) 1px 30px 66px,
      #fff -0.5em -0.1em 100px;
  }

  50% {
    margin-top: -60px;
    text-shadow: #fff 0.006em 0.006em 0.007em,
      #9c9c9c 1px 1px 1px,
      #9c9c9c 1px 2px 1px,
      #9c9c9c 1px 3px 1px,
      #9c9c9c 1px 4px 1px,
      #9c9c9c 1px 5px 1px,
      #9c9c9c 1px 6px 1px,
      #9c9c9c 1px 7px 1px,
      #9c9c9c 1px 8px 1px,
      #9c9c9c 1px 9px 1px,
      #9c9c9c 1px 10px 1px,
      #9c9c9c 1px 11px 1px,
      #9c9c9c 1px 12px 1px,
      rgba(16, 16, 16, 0.4) 1px 38px 26px,
      rgba(16, 16, 16, 0.4) 1px 42px 30px,
      rgba(16, 16, 16, 0.4) 1px 46px 65px,
      rgba(16, 16, 16, 0.4) 1px 50px 95px,
      #fff -0.5em -0.1em 100px;
  }
}